/venv/
/Data/Game Classifier/Test Data/
/Data/Game Classifier/Training Data/
/Data/Game Classifier/Crude Data/
/Data/Winner Identifier/Crude Data/
/Data/Winner Identifier/Test Data/
/Data/Winner Identifier/Training Data/
/mislabeled/
/Data/Temp Images/
/Models/
/Data/End Screen Classifier/Test Data/
/Data/End Screen Classifier/Training Data/
/Data/Winner Identifier/winning games/Test Data/
/Data/Winner Identifier/winning games/Training Data/
/Data/Crewmate Identifier/Training Data/
/Data/Crewmate Identifier/Crude Data/
/Data/Crewmate Identifier/Test Data/
/Data/Meeting Identifier/Crude Data/
/Data/Meeting Identifier/Test Data/
/Data/Meeting Identifier/Training Data/
/Data/Meeting Identifier/Unclear Training/
/Data/Meeting Identifier/Unclear Test/
/Data/Meeting Identifier/Culled Training/
/Data/Meeting Identifier/High Res Training Data/
/Data/Meeting Identifier/High Res Test Data/
/Data/Meeting Identifier/Reduced High Res Training Data/
/Data/Meeting Identifier/Reduced High Res Test Data/
/Ignored/
